{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-dismissible alert-danger">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
    <h1>Modification du profil</h1>

    <form action="{{ path('changepassword', {id:app.user.id}) }}" method="post">
        <input type="password" name="oldPassword" id="" placeholder="Mot de passe actuel">
        <input type="password" name="newPassword" id="" placeholder="Nouveau mot de passe ">
        <input type="password" name="newPassword2" id="" placeholder="Comfimer le mot de passe">

        <button type="submit" class="btn btn-success">Valider la modification</button>
    </form>
{% endblock %}