/* Général */

body {
    margin: 0;
}

ul {
    list-style: none;
}

ul {
    padding: 0;
}


/* header top bar */

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#topbar ul {
    display: flex;
}

.logo {
    width: 70px;
}

#searchbar {
    width: 400px;
    height: 40px;
    background-color: black;
}

#topbar ul li img {
    width: 30px;
}

#topbar ul li {
    margin: 0 40px;
    text-align: center;
}

#topbar ul li p {
    margin: 5px 0;
}


/* header nav */

nav {
    background-color: #b7e743;
    color: white;
}

nav ul {
    margin-bottom: 0;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    padding: 20px 0;
    width: calc(100% / 6);
    text-align: center;
}


/* Section nos recommandations */

#recommandation div img:first-child {
    width: 50%;
}

#recommandation {
    display: flex;
    margin: 50px 50px;
}

#recommandation div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    width: 25%;
    padding: 0 30px;
    text-align: center;
}

#recommandation div .groupeetoile {
    margin: 10px 0;
}

#recommandation div .prix {
    color: #f43434;
}

#recommandation div p {
    font-weight: bold;
    margin-bottom: 5px;
}


/* Section recommandations */

#blocactualite {
    display: flex;
}

#blocactualite div {
    margin: 0 20px;
}

#resteactu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}


/* Section voyage */

#voyage {
    display: flex;
}