* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/* Top Bar */

#topbar {
    width: 100%;
    height: 25%;
    background-color: #00afff;
}


/* Search Bar */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.flexbox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.flexbox img {
    width: 30px;
    height: 30px;
    margin: 20px 40px 0 0;
}

#compte {
    margin-right: 50px;
}

.search {
    margin: 20px 100px 0 0;
}

.search>h3 {
    font-weight: normal;
}

.search>h1,
.search>h3 {
    color: white;
    margin-bottom: 15px;
    text-shadow: 0 1px #0091c2;
}

.search>div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 1px #0091c2);
}

.search>div:after {
    content: "";
    background: white;
    width: 4px;
    height: 15px;
    position: absolute;
    top: 26px;
    transform: rotate(135deg);
}

.search>div>input {
    color: white;
    font-size: 16px;
    background: transparent;
    width: 8px;
    height: 8px;
    padding: 10px;
    border: solid 3px white;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search>div>input::placeholder {
    color: white;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search>div>input:focus::placeholder {
    opacity: 1;
}

.search>div>input:focus,
.search>div>input:not(:placeholder-shown) {
    width: 250px;
}


/* Side Bar */

#sidebar {
    background-color: white;
    height: 117%;
    z-index: 1;
    margin-top: -6%;
    width: 15%;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

#sidebar img {
    width: 30%;
    margin-top: 20px;
}

#sidebar #logo {
    text-align: center;
}

#sidebar h1 {
    margin-bottom: 0px;
    font-size: 16px;
}

#sidebar p {
    font-size: 10px;
}

#h3Nav {
    color: #00afff;
    font-size: 14px;
    margin: 30px 0 30px 20px;
}

li {
    list-style: none;
}

li:hover {
    color: #00afff;
}

hr {
    text-align: center;
    margin: 20px 20px 20px 0;
}

#calendrier {
    width: 90%;
    margin: 10px 0 0 20px;
    font-size: 12px;
}

main {
    background-color: blueviolet;
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    height: 75%;
    display: flex;
}